:root{
    --background-color: #2B2C2D;
    --font-color: #DAFAFA;
    --title-color:#38D0F2;
    --navbar-color:#0D47A1;
    --description-color:#303030;
    --card-color:#444444;
    --border-color:#E23237;
}   

* {
  color: var(--font-color);
}

body {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--navbar-color);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 20px;
}

header img {
  width: 80px;
  margin: 8px;
}

h1 {
  margin: 12px;
  width: fit-content;
  color: var(--title-color)
}
h3{
    color: var(--title-color);
}

.links {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.apresentacao {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 120px;
  padding: 0 100px;
  background-color: var(--description-color);
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
}

.apresentacao section {
  padding: 18px;
  background-color: var(--card-color);
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(155, 154, 153);
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 100px 0;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(155, 154, 153);
}

.imagem blockquote {
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: var(--description-color);
  border-radius: 8px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
}
q{
    color: var(--font-color);
}

.imagem img {
  width: 70%;
  margin-top: 18px;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: var(--title-color);
}

section p {
  font-size: 22px;
}
